body{
    margin-left: 100px;
    margin-right: 100px;
}
main{
    background-color: rgb(227, 251, 165);
}
.maindiv{
    height: auto;
}
.flexclass, .maindiv, .tekstas, .kalbos, .susisiekite{
    display: flex;
}
ul{
    list-style-type: none;
}
.divheader{
    width: 50%;
    text-align: right;
}
li a{
    padding: 14px 16px;
    color: black ;
}
li a:visited{
    color:green;
}  
header, .kontaktai, .parasykite, .asmensparasykite{
    background-color:  rgb(205, 245, 99);
}
header{
    width: auto;
    align-self: center;
}
.antras{
    padding: 10px;
}
.vardas{
    width: 50%;
    margin-top: 15px;
    padding-left: 15px;
}
main, header{
    margin-left: 50px;
    margin-right: 50px;
}
.spalva{
    height: 50px;
}
.pirmas, .ketvirtas, .spalva, .mantras, .antras, .kalbos {
    background-color: rgb(177, 228, 44);
}
.pirmas, .ketvirtas{
    width: 20%;
    height: auto;
}
 .trečias, .antras{
    width: 30%;
    height: auto;
}
.trečias{
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    padding-top: 30px;
    padding-bottom: 15px;
    position:relative;
    animation: mymove 5s;
}
.mpirmas, .mtrecias{
    width: 20%;
    height:60px;
}
.mantras{
    width: 63%;
    height: 60px;
}
.aprasymas{
  margin-top: 30px;
  padding-left: 25%;
}
.tekstas{
    width: 60%;
    align-items: center;
    flex-direction: column;
    margin-bottom: 50px;
}
img{
    border-radius: 50%;
}
h2 ,h3, p{
    font-family: 'Times New Roman', Times;
}
h2, h3, h4, h5,p{
    margin-block-start:0;
    margin-block-end: 0;
}
h2{
    margin-bottom: 4pt;
    font-size: 16pt;
}
h3{
    margin-bottom: 3pt;
    font-size: 14pt;
}
p{
    margin-bottom: 2pt;
    font-size: 12pt;
}
.kalbos{
    height: auto;
}
.kontaktai{
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    height: auto;
}
footer{
    height: auto;
    padding-left: 20px;
    font-size: 6 pt;
    padding-top: 20px;
    padding-right: 50px;

}
.footerspam{
   font-size: 4 pt; 
}
.parasykite.p{
    font-size: 5pt;
}
.h2kontaktai{
    margin-bottom: 0pt;
}
.parasykite, .asmensparasykite, .programavimas, .uzsienio{
    width: 50%;
}
.parasykite{
    padding-left: 20px;
    padding-right: 20px;
}
.asmensparasykite{
    padding-left: 20px;
    text-align: center;
}
#vname, #pname, #ename, #smsname, #submit{
    width: 100%;
}
#smsname{
    height: 100pt;
    text-rendering:auto;
}
#textarea{
    width: 100%;
    height: 100px ;
}
#submit{
    padding: 14px 20px;
    border:black;
    border-style: solid;
    border-width: 1pt;
    background-color: rgb(177, 228, 44);
    margin-top: 10px;
    margin-bottom: 10px;
}
.kalbap, .kalbau{
    width: 40%;
    height: 40px;
    border: black;
    border-style: solid;
    border-width: 1pt;
    background-color: rgb(205, 245, 99);
    margin-top: 20px;
    border-radius: 6%;
    padding-top: 20px ;
    text-align: center;
}
.kalbap{
    margin-left: 50%;
    
}
.kalbau{
    margin-left: 10%
}
.kalbos{
    padding-bottom: 20px;
}

#div1{
    animation-timing-function: ease-in;
}
@keyframes mymove {
    from {left: 50%;}
    to {left: 0%;}}